@{
    ViewData["Title"] = "Users";
}

<h2>User</h2>

<div class="text-center">
    <a class="nav-link text-dark" asp-controller="User" asp-action="Create">Create new User</a>
    <a class="nav-link text-dark" asp-route="GetAllUsers">Get users</a>
</div>