@{
    ViewData["Title"] = "Home Page";
}

<div>
    <button class="my-button">Button</button>
    <a class="my-button" href="#">Link</a>
    <button type="button" class="btn btn-primary" disabled>Primary</button>
    <button type="button" class="btn btn-warning px-5">Warning</button>

    <br>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown">
            Dropdown button
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="#">One</a></li>
            <li><a class="dropdown-item" href="#">Two</a></li>
            <li><a class="dropdown-item" href="#">Three</a></li>
        </ul>
    </div>
</div>

<br>

<div class="card" style="width: 18rem;">
  <img src="https://avatars.githubusercontent.com/u/57497680?v=4" class="card-img-top" alt="avatar">
  <div class="card-body">
    <h5 class="card-title">Elnur Mustafayev</h5>
    <p class="card-text">Full-Stack .Net Developer</p>
    <a href="https://github.com/ElnurMustafayev" class="btn btn-primary">Github</a>
  </div>
</div>