@{
    ViewData["Title"] = "Random Username";

    var names = new string[] {
        "Bob",
        "Ann",
        "John"
    };

    var randomUsername = names[Random.Shared.Next(names.Length)]
}
<h1>@randomUsername</h1>